## Bootcamp 2023 W1D3 - Functions and FILE IO

This notebook covers the basic construction of python functions and file IO

## Try writing functions with the annotation format to increase readability: 
## `variable: type, variable: type, ... -> return_type`

## Exercise 1

### a) Write a function `my_first_function` that returns the string "Hello World!" with no input

### b) Write a function `custom_hello` that returns the string "Hello World, [name]!" with an input variable `name` that customises the output string.

### c) Write a function `default_hello` that returns the string "Hello World, PNI!" with a default argument `name` set as "PNI"

In [1]:
### a) Your code starts here
def my_first_function():
  return "Hello World!"

### b) Your code starts here
def custom_hello(name: str):
  return f"Hello World, {name}!"

### c) your code starts here
def default_hello(name: str = "PNI"):
  return f'Hello World, {name}!'

#### Hidden tests

In [2]:
assert my_first_function() == "Hello World!", "Test for exercise 1a failed"
assert custom_hello("abc") == "Hello World, abc!", "Test for exercise 1b failed"
assert default_hello() == "Hello World, PNI!", "Test for exercise 1c failed"
assert default_hello("abc") == "Hello World, abc!", "Test for exercise 1c failed"

Differences between positional and keyword arguments, and *args

### d) Write a function `function_1d` that takes in three variables: `a`, `b`, and `c` and outputs `a * b + c`. Run the function with the call `function_1d(a = 3, b = 1, c = 2)`, compare it with the call `function_1d(c = 2, a = 3, b =1)`

### e) Try running `function_1d(2, 3, 1)`, what is the difference? How can you return the right result?

### f) Write a function `infinite_sum` that takes in all variables in a function call and output the sum of all inputs. Try with the function call `infinite_sum(0, 1, 2)` and `infinite_sum(1, 10, 2, 9, 3, 8)`

In [3]:
### d) Your code starts here
def function_1d(a, b, c):
  return a * b + c

print(function_1d(a = 3, b = 1, c = 2))
print(function_1d(c = 2, a = 3, b = 1))

### e) Your code starts here
print(function_1d(2, 3, 1))
print(function_1d(3, 1, 2))

### f) Your code starts here
def infinite_sum(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

print(infinite_sum(0, 1, 2))
print(infinite_sum(1, 10, 2, 9, 3, 8))

5
5
7
5
3
33

#### Hidden tests

In [4]:
assert function_1d(a = 3, b = 1, c = 2) == 5, "Test for exercise 1d failed"
assert infinite_sum(1, 10, 2, 9, 3, 8) == 33, "Test for exercise 1e failed"

### g) Write a function `palindrome(input_str)` that determines whether the input string is a palindrome. The output should be a boolean value of True or False. Examples include: "radar", "1234321"

### h) Write a function `palindrome_sum(input_str)` that returns the sum of a palindrome number. if the input is not integer, return "Try again with an integer", if the input is not palindrome, return "Try again with a palindrome number!"

### i) We briefly talked about recursion during lecture. Try to write a function `fibonacci(n)` where the nth fibonacci number is returned. You can read more about fibonacci number [here](https://www.wikiwand.com/en/Fibonacci_sequence)

In [5]:
### g) Your code starts here
def is_palindrome(input_str: str) -> bool:
  mid_point = len(input_str) // 2
  for i in range(mid_point):
    if input_str[i] != input_str[-(i + 1)]:
      return False
  return True

### h) Your code starts here
def palindrome_sum(input_str: str) -> int or str:
  try:
    test_int = int(input_str)
  except:
    return "Try again with an integer!"

  if is_palindrome(input_str):
    out_sum = 0
    for i in input_str:
      out_sum += int(i)
    return out_sum
  else:
    return "Try again with a palindrome number!"

### i) Your code starts here
def fibonacci(n: int) -> int:
  if n < 2:
    return n
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

#### Hidden tests

In [6]:
assert is_palindrome("radar"), "Test for exercise 1g failed"
assert not is_palindrome("123"), "Test for exercise 1g failed"

assert palindrome_sum("12321") == 9, "Test for exercise 1h failed"
assert palindrome_sum("abc") == "Try again with an integer!", "Test for exercise 1h failed"
assert palindrome_sum("123") == "Try again with a palindrome number!", "Test for exercise 1h failed"

assert fibonacci(10) == 55, "Test for exercise 1i failed"

### j) Write a lambda function `square_func` that automatically return the square of the input and try `square_func(5)`

### k) As discussed in the lecture, lambda fucntions are very useful to be used with `map` function, try to write a lambda function `to_percent` that changes a decimal (0.7) to a percentage (70%). Apply this function to every element in the list `list_1k` , save the result in `list_1k_percentage`, and print out the result

In [7]:
### j) Your code starts here

square_func = lambda x: x**2
square_func(5)

### k) Your code starts here
list_1k = [.05, .7, .8, .12, .4, .99]

to_percent = lambda x: x * 100
list_1k_percentage = list(map(to_percent, list_1k))

list_1k_percentage

[5.0, 70.0, 80.0, 12.0, 40.0, 99.0]

#### Hidden tests

In [8]:
assert square_func(5) == 25, "Test for exercise 1j failed"
assert list_1k_percentage == [5.0, 70.0, 80.0, 12.0, 40.0, 99.0], "Test for exercise 1k failed"

## Exercise 2: File IO

Download the files from [here](https://www.ssa.gov/oact/babynames/names.zip) using `!wget` (for linux/ mac), unzip the files and put the files in the same directory. You can also just download the files manually and put them in the same directory as this notebook.

read more about using command lines on python here: http://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-system

### a) Read in the file `yob1900.txt` and print out its first line, confirm that is starts with `Mary`. Read all lines and store it in `names_1900`. Inspect he variable and understand what is the structure of the file. Describe what each column represents.

### b) Write a new row into the file `yob1900.txt`. You can customise what the row contains, but try to stay the same format as the other rows. Read the file again and confirm that your new row is there.

In [9]:
# !wget https://www.ssa.gov/oact/babynames/names.zip

data_path = 'names/yob1901.txt'

### a) Your code starts here
with open(data_path, 'r') as f:
    print(f.readline())

with open(data_path, 'r') as f:
    names_1900 = f.readlines()

### b) Your code starts here
with open(data_path, 'a') as f:
    f.write('Dexter,M,1\n')

with open(data_path, 'r') as f:
    print(f.readlines()[-2:])

Mary,F,13136

['Dexter,M,1\n', 'Dexter,M,1\n']

### c) Write a function `read_text` that does the following: given a string `year`, the function reads in the corresponding file and returns three lists: `names`, `genders`, and `counts`. For example, `read_text('2011')` should return the lists `['Jacob', 'Isabella', ...]`, `['M', 'F', ...]`, and `[20331, 22222, ...]`. (Hint: you can use the `split` method to split a string into a list of strings. For example, `'a b c'.split(' ')` returns `['a', 'b', 'c']`.) Try calling your function with different year to make sure it works.

### d) Write a function `mean` that takes a list of numbers and returns the mean of the numbers. For example, `mean([1, 2, 3])` should return `2.0`. (Hint: you can use the `sum` function to sum up all the numbers in a list. For example, `sum([1, 2, 3])` returns `6`.)

### e) Write a function `median` that takes a list of numbers and returns the median of the numbers. For example, `median([1, 2, 3])` should return `2.0`. (Hint: you can use the `sorted` function to sort a list. For example, `sorted([3, 2, 1])` returns `[1, 2, 3]`.)

In [10]:
### c) Your code starts here
def read_text(year):
    """
    This function reads the text file of the given year and returns a list of strings.
    """
    name_list = []
    gender_list = []
    count_list = []
    with open(f'names/yob{year}.txt', 'r') as f:
        text = f.readlines()

    for line in text:
        split_line = line.split(',')
        name_list.append(split_line[0])
        gender_list.append(split_line[1])
        count_list.append(int(split_line[2].strip()))
    return name_list, gender_list, count_list

name_list, gender_list, count_list = read_text('1901')

### d) Your code starts here
def mean(in_list: list) -> float:
    """
    This function takes a list of numbers and returns the mean.
    """
    return sum(in_list) / len(in_list)

mean([1, 2, 3])

### e) Your code starts here
def median(in_list: list):
    """
    This function takes a list of numbers and returns the median.
    """
    in_list.sort()
    if len(in_list) % 2 == 0:
        return (in_list[len(in_list) // 2 - 1] + in_list[len(in_list) // 2]) / 2
    else:
        return in_list[len(in_list) // 2]

#### Hidden tests

In [11]:
assert mean([1, 2, 3, 4, 5]) == 3.0, "Test for exercise 2d failed"
assert median([1, 2, 3]) == 2, "Test for exercise 2e failed"

###

### f) Write a function `qualitative_summary` that takes in the list of `names`, `genders`, `counts`, and `n` and output the `n` most popular names for each gender in the format: `Rank. Female Name: Count, Male Name: Count`

Tips: the file is already sorted!

### g) Write a function `quantitative_summary` that akes in the list `names`, `genders`, and `counts` and output the mean, median, max, min of names for each gender in the format:

`Female: Mean Count, Median Count, Max name, Min name`

`Male: Mean Count, Median Count, Max name, Min name`

In [12]:
### f) Your code starts here

def qualitative_summary(names: list, genders: list, counts: list, n: int):
    m_idx_start = genders.index("M")
    for i in range(n):
        print(f"{i+1}. {names[i]}: {counts[i]}; {names[m_idx_start+i]}: {counts[m_idx_start+i]}")
    return 

qualitative_summary(name_list, gender_list, count_list, 5)

### g) Your code starts here
def quantitative_summary(names: list, genders: list, counts: list):
    m_idx_start = genders.index("M")
    
    f_names = names[:m_idx_start]
    f_counts = counts[:m_idx_start]
    
    m_names = names[m_idx_start:]
    m_counts = counts[m_idx_start:]

    print(f"Female: {mean(f_counts) :.2f}, {median(f_counts)}, {f_names[0]}, {f_names[-1]}")
    print(f"Male: {mean(m_counts) :.2f}, {median(m_counts)}, {m_names[0]}, {m_names[-1]}")

quantitative_summary(name_list, gender_list, count_list)

1. Mary: 13136; John: 6900
2. Helen: 5247; William: 5990
3. Anna: 4923; James: 4735
4. Margaret: 4424; George: 3609
5. Ruth: 3974; Charles: 3049
Female: 123.18, 12, Mary, Zuma
Male: 87.85, 12.0, John, Dexter

### h) try to put all the functions into a separate file called my_module.py and call them from there. Make sure you have my_module.py in the same folder as your notebook. You can import the module by using import my_module. You can call the functions by using my_module.my_function(). Try to do the following pipleine: read in all the data from 2000, print out the top 10 names and quantitatve summary.


### i) Try comparing qualitatively and quantitatively the distribution of names across 10 years. What are the interesting changes/ commonalities?

In [17]:
### h) Your code starts here
import my_module

name_2000, gender_2000, counts_2000 = my_module.read_text('2000')

my_module.qualitative_summary(name_2000, gender_2000, counts_2000, 10)
my_module.quantitative_summary(name_2000, gender_2000, counts_2000)

### g) Your code starts here

year_list = range(1990, 2000)
for year in year_list:
    print(year)
    name_year, gender_year, counts_year = my_module.read_text(str(year))

    my_module.qualitative_summary(name_year, gender_year, counts_year, 5)
    my_module.quantitative_summary(name_year, gender_year, counts_year)
    print()

1. Emily: 25957; Jacob: 34490
2. Hannah: 23085; Michael: 32042
3. Madison: 19968; Matthew: 28576
4. Ashley: 17998; Joshua: 27538
5. Sarah: 17712; Christopher: 24936
6. Alexis: 17631; Nicholas: 24653
7. Samantha: 17265; Andrew: 23654
8. Jessica: 15711; Joseph: 22842
9. Elizabeth: 15113; Daniel: 22334
10. Taylor: 15079; Tyler: 21505
Female: 102.83, 11.0, Emily, Zyra
Male: 162.06, 11.0, Jacob, Zyier
1990
1. Jessica: 46478; Michael: 65306
2. Ashley: 45561; Christopher: 52353
3. Brittany: 36536; Matthew: 44817
4. Amanda: 34413; Joshua: 43226
5. Samantha: 25868; Daniel: 33827
Female: 124.62, 11.0, Jessica, Zlata
Male: 216.52, 11, Michael, Zvi

1991
1. Ashley: 43480; Michael: 60799
2. Jessica: 43397; Christopher: 47108
3. Brittany: 29090; Matthew: 41644
4. Amanda: 28895; Joshua: 41225
5. Samantha: 25647; Andrew: 31542
Female: 121.23, 11.0, Ashley, Zury
Male: 209.40, 11, Michael, Zuhair

1992
1. Ashley: 38458; Michael: 54399
2. Jessica: 38360; Christopher: 42465
3. Amanda: 25037; Matthew: 37734
4. Brittany: 24982; Joshua: 36217
5. Sarah: 24636; Andrew: 30538
Female: 118.10, 11, Ashley, Zykeia
Male: 203.40, 11, Michael, Zyair

1993
1. Jessica: 34990; Michael: 49564
2. Ashley: 34850; Christopher: 38236
3. Sarah: 24254; Matthew: 35773
4. Samantha: 23668; Joshua: 33586
5. Emily: 23592; Tyler: 29799
Female: 114.50, 11, Jessica, Zyanya
Male: 192.85, 11, Michael, Zvi

1994
1. Jessica: 32122; Michael: 44470
2. Ashley: 30282; Christopher: 34804
3. Emily: 24151; Matthew: 33653
4. Samantha: 22822; Joshua: 31372
5. Sarah: 22295; Tyler: 30482
Female: 113.34, 11.0, Jessica, Zyanya
Male: 188.59, 11, Michael, Zuhair

1995
1. Jessica: 27939; Michael: 41406
2. Ashley: 26601; Matthew: 32877
3. Emily: 24381; Christopher: 32673
4. Samantha: 21644; Jacob: 31132
5. Sarah: 21393; Joshua: 30719
Female: 111.63, 11, Jessica, Zuzanna
Male: 184.28, 11, Michael, Zyon

1996
1. Emily: 25151; Michael: 38366
2. Jessica: 24201; Matthew: 32074
3. Ashley: 23679; Jacob: 31926
4. Sarah: 21041; Christopher: 30903
5. Samantha: 20552; Joshua: 29174
Female: 110.30, 11.0, Emily, Zyesha
Male: 179.81, 11.0, Michael, Zyler

1997
1. Emily: 25735; Michael: 37551
2. Jessica: 21045; Jacob: 34158
3. Ashley: 20895; Matthew: 31516
4. Sarah: 20714; Christopher: 29105
5. Hannah: 20594; Joshua: 28286
Female: 107.69, 11.0, Emily, Zykerria
Male: 174.36, 11, Michael, Zohar

1998
1. Emily: 26185; Michael: 36617
2. Hannah: 21375; Jacob: 36026
3. Samantha: 20194; Matthew: 31144
4. Sarah: 19894; Joshua: 28092
5. Ashley: 19873; Christopher: 27004
Female: 106.43, 11.0, Emily, Zynab
Male: 169.00, 11, Michael, Zyquan

1999
1. Emily: 26539; Jacob: 35369
2. Hannah: 21678; Michael: 33912
3. Alexis: 19235; Matthew: 30417
4. Sarah: 19115; Joshua: 27260
5. Samantha: 19041; Nicholas: 25639
Female: 104.67, 11.0, Emily, Zuzu
Male: 165.36, 11, Jacob, Zyshaun